@import url("https://fonts.googleapis.com/css2?family=Caladea:ital@1&family=Montserrat:wght@100;500&display=swap");

.display-box {
  font-family: "Caladea", serif;
  padding: 0 140px;
  border: 1px solid rgb(240, 240, 240);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  max-height: 780px;
}
.display-box__img {
  border: 1px solid rgb(240, 240, 240);
  width: 100%;
  object-fit: cover;
  max-height: 780px;
}
.display-box__img--small {
  max-height: 545px;
}
.display-box__content {
  border: 1px solid rgb(240, 240, 240);
  background-color: #fbf7f6;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content__tag {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}
.content__text {
  font-size: 32px;
  margin: 40px 0;
  width: 425px;
  text-align: center;
}
.content__link {
  font-size: 10px;
  background-color: transparent;
  width: 240px;
  height: 55px;
  margin-top: 20px;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
}
.content__link--outline {
  border: 2px solid var(--font-color);
}
