@import url("https://fonts.googleapis.com/css2?family=Caladea&family=Montserrat:wght@100;500&display=swap");
.header {
  font-family: "Montserrat", sans-serif;
  color: black;
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 0 140px;
  height: 150px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid rgb(240, 240, 240);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__column {
  width: 33%;
}
.header__nav__title {
  margin-right: 40px;
}
.header__icon {
  display: flex;
  justify-content: center;
}
.header__icon_img {
  display: flex;
  justify-content: center;
  font-weight: 800;
  width: 60px;
  height: 60px;
}
.header__user {
  display: flex;
  justify-content: flex-end;
}
.header__user__icon {
  margin-left: 40px;
}
