.header {
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 0 140px;
  height: 150px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid rgb(240, 240, 240);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden_bar {
  margin-top: 150px;
  height: 50px;
}
.header__column {
  width: 33%;
}
.header__nav__title {
  margin-right: 40px;
}
.header__icon {
  display: flex;
  justify-content: center;
}
.header__icon_img {
  display: flex;
  justify-content: center;
  font-weight: 800;
  width: 60px;
  height: 60px;
}
.header__user {
  display: flex;
  justify-content: flex-end;
}
.header__user__icon {
  margin-left: 40px;
}
