@import "main.css";
@import "header.css";
@import "footer.css";
body {
  font-size: 11px;
  letter-spacing: 2px;
  color: var(--font-color);
  box-sizing: border-box;
}
:root {
  --font-color: #717070;
  --font-deep-color: #414141;
}
